name: On push Lint Check
on:
  push:
    branches-ignore:
      - main

jobs:
  lint:
    name: Lint and Format Check
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npx eslint .
